<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div class="row">
			<div class="jumbotron">
				<h2>Accounts</h2>
				<table class="table">
					<thead class="thead-dark">
					  <tr>
						<th scope="col">Company</th>
						<th scope="col">Contact Name</th>
						<th scope="col">Amount</th>
						<th scope="col">Note</th>
					  </tr>
					</thead>
					<tbody>
						<% dat.forEach(function(data) { %>
							<tr>
								<th scope="row"><%= data.company %></th>
								<td><%= data.first_name %> <%= data.last_name %></td>
								<td><%= data.amount %></td>
								<td><%= data.note %></td>
							</tr>
						<% }); %>
					</tbody>
				  </table>
			</div>
		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>