<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>

	<% include ../partials/style %>

	<style>
	
	</style>
</head>

<body>
	<header>
		<% include ../partials/header %>
		
	</header>

	<div class="main-content table-responsive table-sm">
			<table class="table table-striped table-dark table-hover">
				<thead>
					<tr>
						<th scope="col">
							<form id="addUserBtn" method="GET" action="/createuser">
								<button class="btn btn-outline-success btn-sm">
									<i class="fas fa-user-plus"></i>
									Create New User</button>
							</form>
						</th>
					</tr>
				</thead>
				<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">First Name</th>
							<th scope="col">Last Name</th>
							<th scope="col">Email</th>
							<th scope="col">Position</th>
							<th scope="col">Edit</th>
						</tr>
					
				</thead>
				<tbody>
					<% for(var i=0; i<data.length; i++) { %>
						<tr>
							<th scope="row"><%= i + 1 %></th>
							<td><%= data[i].first_name %></td>
							<td><%= data[i].last_name %></td>
							<td><a href="mailto:<%= data[i].email %>"  target="_top"><%= data[i].email %></a></td>
							<td><%= data[i].role%></td>
							<td>
								<form method="GET" action="/edit_user/<%=data[i].id %>">
									<button class="btn btn-outline-warning btn-sm">EDIT</button>
								</form>
							</td>
						</tr>
					<% } %>
				</tbody>
			</table>
		</div>
	<footer>
		<% include ../partials/footer %>
	</footer>	
</body>
</html>