<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div class="row">
			<div class="jumbotron">
				<h2>Accounts</h2>
				<table class="table">
					<thead class="thead-dark">
					  <tr>
						<th scope="col">Company</th>
						<th scope="col">Contact Name</th>
						<th scope="col">Email</th>
						<th scope="col">Annual Revenue</th>
						<th scope="col">Phone</th>
						<th scope="col">Cell</th>
					  </tr>
					</thead>
					<tbody>
						<% data.forEach(function(person) { %>
							<tr>
								<th scope="row"><%= person.company %></th>
								<td><%= person.first_name %> <%= person.last_name %></td>
								<td><%= person.email %></td>
								<td><%= person.annual_revenue %></td>
								<td><%= person.phone %></td>
								<td><%= person.cell %></td>
							</tr>
						<% }); %>
					</tbody>
				  </table>
			</div>
		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>